 body { font-family: 'Roboto', sans-serif !important; }
.navbar-brand {padding: 0px;}
.brand-image  {width: 120px;height: 45px; margin-right: 10px;}
.brand-title  {text-align: center;}
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
}
th {
    white-space: nowrap;
}