      <div class="container" ng-init="get_all_licenses()">
      <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">LICENSED PRODUCTS
                            
              </div>

            
              <!-- List group -->
              <div class="table-responsive">
              <table class="table table-bordered">
                      <thead>
                              <tr>
                                      <th>No.</th>
                                      <th>Client Name</th>
                                      <th>License</th>
                                      <th>Count</th>
                                      <th>Procurement Date</th>
                                      <th>Renewal Date</th>
                                      <th>Cerficate Status</th>
                                      
                                  </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="license in licenses" ng-style="(license.license_status === 'false') ? {'background-color':'bisque'}:{'background-color':'White'}">
                          <td>{{($index+1)}}</td>
                          <td>{{license.client_id.client_name}}</td>
                          <td>{{license.product}}</td>
                          <td>{{license.no_of_licenses}}</td>
                          <td>{{license.licence_procurement_date}}</td>
                          <td>{{license.support_renewal_date}}</td>
                          <td><span class="label {{license.license_status}}">{{license.license_status}}</span></td>
                          
                        </tr>
                        <tr>
                      </tbody>
                    </table>
                    </div>
            </div>
            </div>