<div class="container" ng-controller="changeCtrl" >
    <div class="container">
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">
    		<img src="../support.png" class="support_brand">
    	</div>
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Enter user Id and current password </h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form" autocomplete="off">
                    <fieldset>
						<div class="form-group" >
			    		    <input class="form-control" placeholder="Current Password" name="password" type="password" ng-model="password" >
                        </div>
                        <div class="form-group">
			    		    <input class="form-control" placeholder="New Password" name="new_password" type="password" ng-model="new_password">
						</div>
						<div class="form-group" >
			    		    <input class="form-control" placeholder="Re-Enter new Password" name="password" type="password" ng-model="new_password2" >
			    		</div>
			    		<input class="btn btn-lg btn-primary btn-block" type="submit" value="submit" ng-click="validate()">
			    	</fieldset>
			      	</form>
			    </div>
			    <div class="panel-footer" ng-if="(message!=null)?true:false"><span>Last attempt Info : <u>{{message}}</u></span></div>
			</div>
		</div>


		





	</div>
</div>
</div>