  <div class="container">
        <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Support  Sheet  Dashboard</div>

              
                <!-- List group -->
                <div class="table-responsive">
                <table class="table table-bordered">
                        <thead>
                                <tr>
                                        <th>No.</th>
                                        <th>Customers</th>
                                        <th>Certificate Sent</th>
                                        <th>Partners</th>
                                        <th>Products Licensed</th>
                                        <th>No. of licenses</th>
                                        <th>License Procurement Date</th>
                                        <th>Support Renewal Date</th>
                                        <th>Status</th>
                                        <th>Users</th>
                                        <th>Primary Contact</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Alpha</td>
                            <td>Yes</td>
                            <td>Apps Pro</td>
                            <td>A, B, C</td>
                            <td>500 Each</td>
                            <td>10-JUN-16</td>
                            <td>09-JUN-18</td>
                            <td>john@example.com</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                            <td>example.com</td>
                          </tr>
                          <tr>
                                <td>1</td>
                                <td>Alpha</td>
                                <td>Yes</td>
                                <td>Apps Pro</td>
                                <td>A, B, C</td>
                                <td>500 Each</td>
                                <td>10-JUN-16</td>
                                <td>09-JUN-18</td>
                                <td>john@example.com</td>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                                <td>example.com</td>
                              </tr>
                              <tr>
                                    <td>1</td>
                                    <td>Alpha</td>
                                    <td>Yes</td>
                                    <td>Apps Pro</td>
                                    <td>A, B, C</td>
                                    <td>500 Each</td>
                                    <td>10-JUN-16</td>
                                    <td>09-JUN-18</td>
                                    <td>john@example.com</td>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                    <td>example.com</td>
                                  </tr>
                        
                        </tbody>
                      </table>
                      </div>
              </div>
  </div>