  <div class="container" ng-init="get_all_clients()">
        <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Support  Sheet  Dashboard
                    
                    <input type="search" name="search" ng-model="search_query" class="search panel-right" style="margin-left: 5px;" placeholder="Search">
                                      
                    <select class="search panel-right" ng-model="selected_item">
                        <option selected="selected"  value=""><span style="font-weight: normal;">All</span></option>
                        <option >active</option>
                        <option>pending</option>
                        <option>blocked</option>
                    </select>
                </div>

              
                <!-- List group -->
                <div class="table-responsive">
                <table class="table table-bordered">
                        <thead>
                                <tr>
                                        <th>No.</th>
                                        <th ng-click="sortBy('client_name')">Client Name
                                          <span class="sortorder" ng-show="propertyName === 'client_name'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('partners')">Partners
                                          <span class="sortorder" ng-show="propertyName === 'partners'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('product')">Products Licensed
                                          <span class="sortorder" ng-show="propertyName === 'product'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('support_renewal_date')">Expiry
                                            <span class="sortorder" ng-show="propertyName === 'support_renewal_date'" ng-class="{reverse: reverse}"></span>
                                          </th> 
                                        <th ng-click="sortBy('primary_contact_name')">Contact
                                          <span class="sortorder" ng-show="propertyName === 'primary_contact_name'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th>Notes</th>
                                        <th>Action</th>
                                    </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="client in clients  | filter : search_query | filter : {status:selected_item}" class="{{client.status+'tr'}}">
                            <td>{{($index+1)}}</td>
                            <td><a href="#!/client?id={{client._id}}"><img ng-src="uploads/{{client.logo}}" width="80px" height="80px"></a> </td>
                            <!--<td><span class="label label-success" style="font-size: 12px;">Yes</span></td>-->
                            <td>{{client.partners}}</td>
                            <td>
                                <span class="label license_badge {{x.license_status+'label'}}" ng-repeat="x in client.license_array" style="display: block;background: #fff;margin-bottom: 3px;">
                                  {{x.product}} <span class="badge">{{x.no_of_licenses}}</span>
                                </span>
                            </td>
                              <td>
                                <span data-toggle="tooltip" data-placement="bottom" title="{{client.expiry_product}}">
  {{client.expiry_date | date : dd-MM-yyyy}}
</span>
                              </td>
                            <td>{{client.primary_contact_name}}<br><a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{client.primary_email}}">{{client.primary_email}}</a><br>{{client.primary_contact}}</td>
                          
              
                            <td ng-model="c[$index]" ng-keypress="update_comment(client._id)" class="comment-class"><i>{{client.comment}}</i>
                              <br><p class="label label-primary open" style="cursor: pointer;" data-toggle="modal" data-target="#commentModal" ng-click="set_comment_text(client._id,client.comment)">Edit</p>
                            </td>
                            <td><a class="glyphicon glyphicon-align-justify" href="#!/client?id={{client._id}}"></a>

                            </td>
                          </tr>
                          <tr>
                        </tbody>
                      </table>
                      </div>
              </div>
  </div>

<div class="modal fade" id="client_add_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
      Add New License
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
     <div class="modal-body">
  <div class="row">
   
      <div class="">
      <div class="panel-body">
      <form id="" name="newclient" >
  <div class="form-group">
    <label for="exampleInputEmail1">Customer Name</label>
    <input type="text" name="customername" class="form-control" ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9]*$/" aria-describedby="emailHelp" placeholder="Enter Company Name*" ng-model="client.name" required>
    <p ng-show="newclient.customername.$error.pattern" class="help-block">Customer name is required.</p>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Partner (Referer)</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Partner" ng-model="client.partner">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contact Person</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Contact Person Name" ng-model="client.contact_name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Personal Email</label>
    <input type="text"  name="clientmail" class="form-control" id="exampleInputPassword1"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z]{2,3}$/" placeholder="Personal Email*" ng-model="client.email" required>
    <p ng-show="newclient.clientmail.$error.pattern" class="help-block">Email is required.</p>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Personal Contact</label>
    <input type="number" name="clientcontact" class="form-control" ng-minlength="10" id="exampleInputPassword1" ng-pattern="/^[0-9]*$/" placeholder="Personal Contact*" ng-model="client.contact" required>
    <p ng-show="newclient.clientcontact.$error.pattern" class="help-block">Contact Number is required.</p>
  </div>
      <div class="form-group">
    <label for="exampleInputPassword1">Number of Employees</label>
    <input ng-model="client.size" placeholder="Company Size" class="form-control" type="number">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Logo</label>
    <input name="image" id="file" ng-model="client.image" placeholder="Upload Image" class="form-control" type="file">
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="newclient.$invalid" data-dismiss="modal" ng-click="add_client()">Add Client</button>
  <p>{{message}}</p>
</form>
</div>
</div>
    
  </div>
</div>
</div>


</div>
</div>



<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      Edit Comment
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="licenseform">
        <textarea class="form-control" ng-model="comment.comment"></textarea>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="licenseform.$invalid" ng-click="update_comment(comment)">Save changes</button>
    </div>
  </div>
</div>
</div>



