  <div class="container" ng-init="get_all_clients()">
        <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Support  Sheet  Dashboard
                    <a href="#!/new_client" class="btn btn-default panel-right" style="margin-left: 5px;">Add Client</a>
                    <a href="#!/services" class="btn btn-default panel-right">All Products</a>
                </div>

              
                <!-- List group -->
                <div class="table-responsive">
                <table class="table table-bordered">
                        <thead>
                                <tr>
                                        <th>No.</th>
                                        <th>Customer</th>
                                        <th>Certificate Sent</th>
                                        <th>Partners</th>
                                        <th>Products Licensed</th>
                                        <th>Primary Contact</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="client in clients">
                            <td>{{($index+1)}}</td>
                            <td><img ng-src="uploads/{{client.logo}}" width="120px" height="100px"> </td>
                            <td><i>Yes</i></td>
                            <td><i>{{client.partners}}</i></td>
                            <td>
                                <span class="btn btn-default license_badge" type="button"  ng-repeat="x in client.license_array" style="display: block;background: #f5f5f5;margin-bottom: 3px;">
                                  {{x.product}} <span class="badge">{{x.no_of_licenses}}</span>
                                </span>
                            </td>
                            
                            <td><i>{{client.primary_contact_name}}</i></td>
                            <td><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{client.primary_email}}"><i>{{client.primary_email}}</i></a></td>
                            <td><i>{{client.primary_contact}}</i></td>
                            <td></td>
                            <td><a class="btn btn-primary" href="#!/client?id={{client._id}}">Edit</a></td>
                          </tr>
                          <tr>
                        </tbody>
                      </table>
                      </div>
              </div>
  </div>